.img_logo {
    width: 48px;
    height: 48px;
}

.navbar_top {
    background-color: #757575;
}

.contenedor_objetivos {
    background-color: #EEEEEE;
}

.img_objetivos {
    /* max-width: 45%; */
    width: 80px;
    height: 80px;
}

.card_productos {
    background-color: #CB904D;
}

.card_usuarios {
    background-color: #086375;
}

.card_img {
    width: 48px;
    height: 48px;
}











